@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

select:focus,
input:focus {
    box-shadow: none !important;
}

body,
html {
    background-color: #F4F4F4;
}

.drag_drop_ui .container {
    height: auto;
    padding: 50px 0;
}

.drag_drop_ui .grid_row {
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid #F4F4F4;
    height: 100%;
}


.drag_drop_ui .blank_space {
    border: .5px solid #f7f7f7;
    height: auto;
    padding: 100px 0;
    /* overflow: scroll; */
}

.drag_drop_ui .selected_page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page {
    border: 1px solid #eee;
    overflow: hidden;
}


.configuration_div .custom-btn {
    margin-top: 20px;
}

.width_height_flex_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.width_height_flex_row .width {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.width_height_flex_row .width input {
    max-width: 80px;
    min-width: 80px;
}

.width_height_flex_row .height {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.width_height_flex_row .height input {
    max-width: 80px;
    min-width: 80px;
}


.width_height_flex_row select,
.width_height_flex_row input {
    height: 30px;
}

.width_height_flex_row select {
    padding: 5px 10px;
    font-size: 12px;
    min-width: 80px !important;
    margin-top: 30px;
}


.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding: 20px; */
    cursor: pointer;
    /* position: relative;
    align-items: center; */
}

.page-contents p {
    margin-bottom: 0;
}

.page-contents #eventname {
    font-size: 26px;
    font-weight: 700;
    margin: 32px 0px 24px;
    /* position: absolute;
    top: 50px; */

}

.page-contents #name {
    font-size: 22px;
    font-weight: 600;
    margin: 24px 0px 16px;
    /* position: absolute;

    top: 100px; */
}

.page-contents #company {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    /* position: absolute;
    top: 150px; */
}

.page-contents #designation {
    font-size: 16px;
    font-weight: 500;
    /* position: absolute;
    top: 180px; */
}

.page-contents #qrImage {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    /* position: absolute;
    top: 300px; */
}

button {
    border: none;
    padding: 3px 7px;
    background-color: #fff;
    border-radius: 5px !important;
    overflow: hidden;
    /* box-shadow: rgba(60, 64, 67, 0.096) 0px 1px 2px 0px, rgba(60, 64, 67, 0.075) 0px 2px 6px 2px; */
    font-size: 14px !important;
}




.accordion-item {
    border-radius: 0 !important;
    border: none !important;
}

.accordion-button {
    padding: 8px 10px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.accordion .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
}

.accordion-body {
    background-color: #f7f7f7;
    padding: 20px 10px !important;
}


.configuration_div label {
    font-size: 12px;
    font-weight: 500;
    color: #b1b1b1;
    padding-bottom: 10px;
}



/* QR Code Changes */

.qr_code_width_height {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb {
    opacity: 1;
}
input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}

/* mozilla browser */
input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]:hover::-moz-range-thumb {
    opacity: 1;
}

input[type=range]::-moz-range-thumb:active {
    transform: scale(1.2);
}


.font_size {
    display: flex;
    flex-direction: column;
}
.font_size .buttons{
    display: flex;
    gap: 20px;
}

.font_weight {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.font_weight .buttons{
    display: flex;
    gap: 20px;
}
/* 
.selected {
    background-color: #ffeaea;
} */

.font_size label,
.font_weight label{
    padding-bottom: 5px;
}

.text_alignment{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.text_alignment .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}


.hide_buttons .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.hide_buttons .item button{
    background-color: transparent;
}

/* .hide_buttons .item button:focus{
    opacity: 0.5;
} */

.hide_buttons .item h6{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}

.textcolor{
    margin: 15px 0;
    display: flex;
    align-items: center !important;
    gap: 10px;
}
.textcolor img{
    display: none !important;
}
.textcolor input{
    width: 20px;
    height: 20px;
}
.textcolor label{
    padding-bottom: 0;
}
.fontfamily{
    display: flex;
    flex-direction: column;
}

